/* rem and em do not depend on the html font=size in media queries */

/* Instead here 1 rem = 16px */
/* Use em in media queries */

/* Media query will fire under 1344px */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query will fire under 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .nav-main-list {
    gap: 3.2rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* Media query will fire under 944px */
@media (max-width: 59em) {
  html {
    /* font-size : 8px */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
  }

  .delivered-meals {
    margin-top: 3.2rem;
  }

  .logos img {
    height: 1.8rem;
    filter: grayscale(100%);
    filter: brightness(0);
    opacity: 50%;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 2.4rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .nav-main {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;

    /* No transitions possible with display prop */
    /* display: none; */

    /* Steps for removing element */
    /* Step 1 -Hide visually */
    opacity: 0;

    /* Step 2-Make it unaccessible */
    pointer-events: none;

    /* Step 3-Hide from screen readers */
    visibility: hidden;
  }

  .nav-open .nav-main {
    /* Undoing all three steps */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-main-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-main-link:link,
  .nav-main-link:visited {
    font-size: 2.4rem;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }
}
